[Desktop Entry]
Encoding=UTF-8
Name=Presence
Name[cs]=Přítomnost
Name[el]=Παρουσία
Name[et]=Kohalolek
Name[fr]=Présence
Name[gl]=Presenza
Name[km]=បង្ហាញ
Name[nds]=Anwesigkeit
Name[pa]=ਮੌਜੂਦਗੀ
Name[pt]=Presença
Name[pt_BR]=Presença
Name[ro]=Prezență
Name[ru]=Присутствие
Name[sv]=Närvaro
Name[tr]=Durum
Name[uk]=Присутність
Name[x-test]=xxPresencexx
Comment=Telepathy Presence Data Engine
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=application-telepathy
X-KDE-Library=plasma_engine_presence

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=presence
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
