[Desktop Entry]
Encoding=UTF-8
Name=Presence
Name[sv]=Närvaro
Comment=Decibel Presence Data Engine
Comment[et]=Decibeli kohaloleku andmete mootor
Comment[sv]=Decibel datagränssnitt för närvaro
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=application-decibel
X-KDE-Library=plasma_engine_presence

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=presence
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
