[Desktop Entry]
Encoding=UTF-8
Name=Presence
Name[cs]=Přítomnost
Name[da]=Tilstedeværelse
Name[es]=Presencia
Name[ga]=Presence
Name[hu]=Jelenlét
Name[it]=Presenza
Name[nds]=Anwesigkeit
Name[nl]=Aanwezigheid
Name[pt]=Presença
Name[pt_BR]=Presença
Name[sv]=Närvaro
Name[uk]=Присутність
Name[x-test]=xxPresencexx
Comment=Telepathy Presence Data Engine
Comment[cs]=Datový nástroj přítomnosti Telepathy
Comment[da]=Datamotor til Telepathy-tilstedeværelse
Comment[es]=Motor de datos presenciales de Telepathy
Comment[ga]=Inneall Sonraí Telepathy Presence
Comment[hu]=Telepathy jelenlét adatmodul
Comment[it]=Motore di dati della presenza di Telepathy
Comment[nds]=Telepathie-Datenkarn för de Anwesigkeit
Comment[nl]=Aanwezigheidsgegevensengine van Telepathy
Comment[pt]=Motor de Dados de Presença do Telepathy
Comment[pt_BR]=Mecanismo de dados de presença do Telepathy
Comment[sv]=Telepathy datagränssnitt för närvaro
Comment[uk]=Рушій даних присутності для Telepathy
Comment[x-test]=xxTelepathy Presence Data Enginexx
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=application-telepathy
X-KDE-Library=plasma_engine_presence

X-KDE-PluginInfo-Author=Dario Freddi
X-KDE-PluginInfo-Email=dario.freddi@collabora.co.uk
X-KDE-PluginInfo-Name=presence
X-KDE-PluginInfo-Version=0.2.60
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=network
X-KDE-PluginInfo-EnabledByDefault=true
